* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* INDEX */
header {
  background-color: #bc2e2e;
  display: flex;
  grid-gap: 50px; }
  header .logo {
    width: 200px; }
  header .navbar {
    display: flex;
    align-items: center; }
  header .menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    grid-gap: 10px;
    align-items: center; }
  header .menu__item a {
    color: white;
    text-decoration: none; }
  header .menu__item.active a {
    text-decoration: underline double; }

.iframe {
  min-height: 100vh;
  position: relative; }
  .iframe h2 {
    padding-top: 350px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2; }
  .iframe p {
    color: white;
    text-align: center;
    position: relative;
    z-index: 2; }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #070303;
  opacity: 0.5;
  mix-blend-mode: overlay; }

/* CARDS */
.cards {
  display: flex;
  padding: 60px;
  gap: 30px; }

.cards :hover {
  transform: scale(1) translateY(-30px);
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  transition: transform 0.5s; }

.card {
  background-color: #bc2e2e;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: all .3s; }

.info {
  padding: 0% 20% 20% 20%; }

.card__imagen {
  max-width: 100%; }

/* FOOTER */
.boton {
  text-decoration: none;
  border: no; }

.footersobrenos {
  color: white;
  padding-block: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  margin-top: 200px;
  height: 50px;
  background-color: #bc2e2e;
  grid-gap: 50px; }

.footerpoliticas {
  background-color: #bc2e2e;
  color: white;
  padding-block: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace; }

.footercontacto {
  color: white;
  padding-block: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  margin-top: 200px;
  height: 50px;
  background-color: #bc2e2e;
  grid-gap: 50px; }

.footercatalogo {
  background-color: #bc2e2e;
  color: white;
  padding-block: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace; }

.footerinicio {
  color: white;
  padding-block: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  margin-top: 200px;
  height: 50px;
  background-color: #bc2e2e;
  grid-gap: 50px; }

/* DESKTOP FIRST */
