* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INDEX */

header {
    background-color: rgb(188, 46, 46);
    display: flex;
    grid-gap: 50px;
}

.logo {
    width: 200px;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    grid-gap: 10px;
    align-items: center;
}

.menu__item a {
    color: white;
    text-decoration: none;
}

.menu__item.active a {
    text-decoration: underline double;
}

.imgppal {
    height: 80vh;
    background-image: url("../assets/image/47E.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 200px;

}

.imgppal h2 {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.717);
    padding-inline: 15px;
}

.imgppal p {
    color: white;
    background-color: rgba(0, 0, 0, 0.717);
    text-align: center;

}

/* CARDS */
.cards {
    display: flex;
    padding: 60px;
    gap: 30px;
}

.card {
    background-color: rgb(188, 46, 46);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.info {
    padding: 0% 20% 20% 20%;
}

.card__imagen {

    max-width: 100%;
}

.pie {

    background-color: rgb(188, 46, 46);
    color: white;
    padding-block: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* Contactanos */

.contacto {
    margin: 10px;
    padding: 10px;
}



.contenedor { 
    margin: 20px;
    padding: 20px;
    display: grid;
    width: 1000px;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "formulario1 formulario2"
    "formulario1 formulario2";
}
.caja { 
    border: 1px solid red; 

}

.formulario2{ 
    grid-area: formulario2;
    background-color: orangered;
}
.formulario1 { 
    grid-area: formulario1;
    background-color: orange;
    
}


.placeholder { 
    border: 2px solid black ; 
    margin: 10px;
    padding: 10px; 
}

.datos { 
    margin: 10px;
    padding: 10px;
}


/* IMAGENES CONTACTO */

.insta { 
    height: 50px;
    width: 50px;
}
.wsp { 
    height: 50px;
    width: 50px;
}
.ubi { 
    height: 50px;
    width: 50px;

}

.logo2 { 
    height: 500px;
    width: 500px;
    display:flex ;
}
 /* FOOTER */

footer { 
    height: 50px;
    background-color: rgb(188, 46, 46);
    display: flex;
    grid-gap: 50px;
}
.piedepag { 
    margin: 10px;
    padding: 10px;
   font-weight: bold;
}


  /* DESKTOP FIRST */

  @media screen and (max-width: 1200px) {
    
  }
  @media screen and (max-width: 1024px) {
    
  }
  @media screen and (max-width: 768px) {
    
  }
  @media screen and (max-width: 600px) {
    
  }
  @media screen and (max-width: 480px) {
    
  }
  @media screen and (max-width: 320px) {
    
  }
